body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	font-family: 'Saira Semi Condensed', cursive;
	font-size: 1.1rem;
	text-align: justify;
	color: #353643;
}

div,
header,
footer {
	display: flex;
	flex-direction: column;

}

header {
	background-color: #151B25;
	background-image: linear-gradient(#151B25, #151B25,rgb(56, 72, 100), #89CFF0,lightgray,white);
}

a {
	color: #353643;
}

.container {
	width: 100%;
	max-width: 100%;
}

.section:not(header):not(footer) {
	margin: 10px 0px 35px 0px;
	padding-left: 17%;
	padding-right: 17%;
	color: #DBE8E1;
}
.slogan p{
	margin: 70px;
	margin-bottom: 20px;
}

header .navigation {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
	width: 100%;
	background-color: #151B25;
	height: 34px;
	margin: 0;
	position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
}

header .navigation .logo img {
	width: 50%;
	height: auto;
}

header .navigation .topnav {
	overflow: hidden;
	height: auto;
}

header .navigation .topnav a {
	padding: 9px 20px;
	line-height: 1rem;
	display: inline-block;
	color: #DBE8E1;
	text-align: center;
	text-decoration: none;
}

header .navigation .topnav a:hover {

	color: #DBE8E1;
	color: #E10032;
}

header .navigation .topnav a.active {
	background-color: #4caf50;
	color: white;
}

header .navigation .topnav ul {
	list-style-type: none;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
}

header .banner img {
	width: 100%;
}

.banner{
	padding-top: 0;
}

header .slogan p {
	text-transform: uppercase;
	font-family: 'Kalam', cursive;
	font-size: 3rem;
	color: #E10032;
	text-align: center;
}

.section.about-us div {
	margin-top: 10px;
	margin-bottom: 10px;
	color: aquamarine;

}

.section.members .title {
	margin-bottom: 15px;
	font-family: 'Saira Stencil One', cursive;
	font-size: 2.5rem;
	color: #F85846;
	text-align: center;
}

.section.members .mem-list .item {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: grab;
	outline: none;
}

.section.members .mem-list .item img {
	max-width: 200px;
}

.section.members .mem-list .item .content {
	padding-left: 10px;
}

.section.members .mem-list .item .name {
	font-size: 20px;
	font-weight: bold;
}

.section.members .mem-list .item .quote {
	margin-top: 10px;
	font-size: 13px;
}

.section.plans {
	padding-left: 0px;
	padding-right: 0px;
	flex-direction: row;
	justify-content: space-between;
}

.section.plans .item {
	width: 33.33%;
	padding: 20px 15px;
	color: black;
	background-color: #BABABA5C;
}

.section.plans .item:hover {
	box-shadow: 0px 0px 10px 3px #888888;
}

.section.plans .item > div {
	margin-bottom: 8px;
	font-size: 14px;
}

.section.plans .item .title {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.section.plans .item .content {
	margin-top: 5px;
	margin-bottom: 0px;
	line-height: 17px;
	font-size: 13px;
}

footer {
	flex-direction: row;
	justify-content: space-between;
	margin: 0px 10px 20px 10px;
	align-items: center;
}

footer .social {
	flex-direction: row;
}

footer .social .fab {
	margin-left: 10px;
	font-size: 35px;
}

.template {
	display: none;
}

.hide {
	display: none !important;
}

@media only screen and (max-width: 768px) {
	header .navigation {
		flex-direction: column;
		height: 59px;
	}

	header .navigation .logo {
		align-items: center;
	}

	header .navigation .topnav {
		width: 100%;
	}

	header .navigation .topnav a {
		padding-top: 4px;
		padding-bottom: 4px;
	}

	.section:not(header):not(footer) {
		padding-left: 10px;
		padding-right: 10px;
	}

	.section.plans {
		flex-direction: column;
	}

	.section.plans .item {
		width: calc(100% - 30px);
	}
}


@media only screen and (max-width: 320px) {
	header .navigation .topnav a {
		font-size: 13px;
	}

	header .slogan p {
		font-size: 2.5rem;
	}

	.section.members .item img {
		width: 35%;
	}

	footer {
		flex-direction: column;
	}

	footer .copyright {
		margin-bottom: 10px;
	}
}