body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	text-align: justify;
}

div {
	display: flex;
	flex-direction: column;
}

.section:not(header) {
	margin: 10px 20px 35px 20px;
	width: calc(100% - 40px);
}

.section .title {
	margin-bottom: 8px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

header .navigation {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: #4EC33D;
	height: 33px;
	margin: 0;
	position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
}

header .navigation .logo {
}

header .navigation .logo img {
	width: 50%;
	height: auto;
}

header .navigation .topnav {
	overflow: hidden;
	height: auto;
}

header .navigation .topnav a {
	padding: 9px 20px;
	line-height: 1rem;
	display: inline-block;
	color: #353643;
	text-align: center;
	text-decoration: none;
}

header .navigation .topnav a:hover {
	background-color: #353643;
	color: #FF8F62;
}

header .navigation .topnav a.active {
	background-color: #4caf50;
	color: white;
}

header .navigation .topnav ul {
	list-style-type: none;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
}

header .banner img {
	width: 100%;
}

header .slogan p {
	text-transform: uppercase;
	font-family: 'Saira Stencil One', cursive;
	font-size: 300%;
	color: #F85846;
	text-align: center;
}

.plans .details {
	flex-direction: row;
	justify-content: space-evenly;
}

.plans .details .item {
	width: 25%;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
}

.plans .details .item:hover {
	border-color: white;
	box-shadow: 0 0 0 4px gray;
}

.plans .details .item > div {
	margin-bottom: 5px;
}

.plans .details .item .content {
	margin-top: 5px;
	margin-bottom: 0px;
	line-height: 17px;
	font-size: 13px;
}

.template {
	display: none;
}

.hide {
	display: none !important;
}

@media only screen and (max-width: 768px) {
	.plans .details {
		flex-direction: column;
	}

	.plans .details .item {
		width: calc(100% - 20px);
	}

	.plans .details .item:not(:first-of-type) {
		margin-top: 10px;
	}
}